@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

*:before,
*:after {
 box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
}


.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}
