@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
}

*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  margin: 0;
}

img {
  max-width: 100%;
}

a,
p {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}

.slidePage {
  animation: slidePages 0.9s both;
}

@keyframes slidePages {
  from {
    opacity: 0;
    transform: translateX(-120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
