@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,600&family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
}

*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  margin: 0;
}

h2,
h3 {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

a,
p,
span {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.slidePage {
  animation: slidePages 0.9s both;
}

@keyframes slidePages {
  from {
    opacity: 0;
    transform: translateX(-120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
